In [1]:
import pandas as pd
import numpy as np
import sklearn
import json

In [2]:
with open('heroes.json') as json_data:
    d = json.load(json_data)
d["heroes"]
heroes = ["Radiant_Dire", "Cluster ID", "Game Mode", "Game Type"]
count = 0
for dicts in d["heroes"]:
    heroes.append(dicts["name"])
    count +=1
print(len(heroes), count)

117 113

In [55]:
# Load the data
df = pd.read_csv("dota2Train.csv", header=None, names=heroes)

In [4]:
df.head()

,Radiant_Dire,Cluster ID,Game Mode,Game Type,antimage,axe,bane,bloodseeker,crystal_maiden,drow_ranger,...,legion_commander,techies,ember_spirit,earth_spirit,abyssal_underlord,terrorblade,phoenix,oracle,winter_wyvern,arc_warden
0,-1,223,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,152,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
2,1,131,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
3,1,154,2,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
4,-1,171,2,3,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,0

In [56]:
df.shape

(92650, 117)

In [ ]:
# We see that Cluster ID corresponds to where the server is , this shouldnt matter, so we must one-hot enocde it
df.groupby("Cluster ID").size()

In [ ]:
# one hot encoding the same
pd.get_dummies(df["Cluster ID"], prefix="cluster")

In [59]:
# We see that Game mode is the just the mode, like pratice or co-op or ranked or teammatch, again we must one-hot encode this as well 
df.groupby("Game Mode").size()

Game Mode
1     1229
2    71897
3      386
4      208
5       12
6      498
7       81
8     8306
9    10033
dtype: int64

In [60]:
# Unsure why this is there
df.groupby("Game Type").size()

Game Type
1       15
2    56988
3    35647
dtype: int64

In [15]:
df.keys()

Index(['Radiant_Dire', 'Cluster ID', 'Game Mode', 'Game Type', 'antimage',
       'axe', 'bane', 'bloodseeker', 'crystal_maiden', 'drow_ranger',
       ...
       'legion_commander', 'techies', 'ember_spirit', 'earth_spirit',
       'abyssal_underlord', 'terrorblade', 'phoenix', 'oracle',
       'winter_wyvern', 'arc_warden'],
      dtype='object', length=117)

In [61]:
# Having which heros is of no use, knowing what type of heros they are, is very very useful
# Wrote a parser script to parse the official DOTA website to collect the hero traits like pusher, nuker, carry, off-lane and so on 
hero_names = df.keys()[4:]

In [19]:
# getting the hero names in the dataframe
hero_names

Index(['antimage', 'axe', 'bane', 'bloodseeker', 'crystal_maiden',
       'drow_ranger', 'earthshaker', 'juggernaut', 'mirana', 'morphling',
       ...
       'legion_commander', 'techies', 'ember_spirit', 'earth_spirit',
       'abyssal_underlord', 'terrorblade', 'phoenix', 'oracle',
       'winter_wyvern', 'arc_warden'],
      dtype='object', length=113)

In [21]:
# the modified json file with the hero traits
with open("heroes_modified.json") as hero_json:
    data = json.load(hero_json)

In [25]:
hero_name_from_file=[]

In [27]:
for hero in data["heroes"]:
    hero_name_from_file.append(hero["name"])

In [62]:
# first check if all the hero names in the modified json file correspond to the exact same columns in the data frame
hero_name_from_file == hero_names

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [29]:
# Substitute the game mode number with the more meaningful strings of what they represent
# executed in the below four cells + this one 
with open("lobbies.json") as lobby_json:
    lobby_data = json.load(lobby_json)

In [32]:
lobby_data["lobbies"] = lobby_data["lobbies"][1:]

In [34]:
for value in lobby_data["lobbies"]:
    value["id"] += 1

In [35]:
lobby_data["lobbies"]

[{'id': 1, 'name': 'Public matchmaking'},
 {'id': 2, 'name': 'Practice'},
 {'id': 3, 'name': 'Tournament'},
 {'id': 4, 'name': 'Tutorial'},
 {'id': 5, 'name': 'Co-op with bots'},
 {'id': 6, 'name': 'Team match'},
 {'id': 7, 'name': 'Solo Queue'},
 {'id': 8, 'name': 'Ranked'},
 {'id': 9, 'name': 'Solo Mid 1vs1'}]

In [64]:
for k ,v in df["Game Mode"].items():
    print(k)
    df["Game Mode"][k] = lobby_data["lobbies"][v-1]["name"]

0

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [65]:
df["Game Mode"].tail()

92645    2
92646    2
92647    2
92648    2
92649    2
Name: Game Mode, dtype: object

In [66]:
df.groupby("Game Mode").size()

Game Mode
1                       105
2                      6567
3                        32
4                        19
6                        46
7                         7
8                       700
9                       895
Co-op with bots          12
Practice              65330
Public matchmaking     1124
Ranked                 7606
Solo Mid 1vs1          9138
Solo Queue               74
Team match              452
Tournament              354
Tutorial                189
dtype: int64