In [1]:
import pandas as pd
import numpy as np
import sklearn
import json

In [2]:
with open('heroes.json') as json_data:
    d = json.load(json_data)
d["heroes"]
heroes = ["Radiant_Dire", "Cluster ID", "Game Mode", "Game Type"]
count = 0
for dicts in d["heroes"]:
    heroes.append(dicts["name"])
    count +=1
print(len(heroes), count)

117 113

In [3]:
# Load the data
df = pd.read_csv("dota2Train.csv", header=None, names=heroes)

In [30]:
df.head()

,Radiant_Dire,Cluster ID,Game Mode,Game Type,antimage,axe,bane,bloodseeker,crystal_maiden,drow_ranger,...,legion_commander,techies,ember_spirit,earth_spirit,abyssal_underlord,terrorblade,phoenix,oracle,winter_wyvern,arc_warden
0,-1,223,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,152,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
2,1,131,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
3,1,154,2,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
4,-1,171,2,3,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df.shape

(92650, 117)

In [32]:
# We see that Cluster ID corresponds to where the server is , this shouldnt matter, so we must one-hot enocde it
df.groupby("Cluster ID").size()

Cluster ID
111     838
112     804
121     714
122     662
123     663
124     664
131     756
132     749
133     762
134     645
135     605
136     613
137     617
138     695
144    1202
145    1242
151    6848
152    6715
153    6757
154    7013
155    6611
156    6899
161     244
171    1122
181    1183
182    1377
183     943
184     974
185     968
186    1090
187    1257
188    1190
191     923
192     828
204    1463
211      18
212      11
213      89
223    3501
224    5963
225    2643
227    7874
231    3666
232    1706
241     127
251     154
261     262
dtype: int64

In [33]:
# one hot encoding the same
pd.get_dummies(df["Cluster ID"], prefix="cluster")

,cluster_111,cluster_112,cluster_121,cluster_122,cluster_123,cluster_124,cluster_131,cluster_132,cluster_133,cluster_134,...,cluster_213,cluster_223,cluster_224,cluster_225,cluster_227,cluster_231,cluster_232,cluster_241,cluster_251,cluster_261
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92620,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92621,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92622,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92623,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
92624,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92625,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92626,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92627,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92628,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92629,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92630,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92631,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92632,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92633,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92634,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92635,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92636,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92637,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92638,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
92639,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92640,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92641,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92642,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
92643,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92644,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92645,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92646,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92647,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92648,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92649,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
# We see that Game mode is the just the mode, like pratice or co-op or ranked or teammatch, again we must one-hot encode this as well 
df.groupby("Game Mode").size()

Game Mode
1     1229
2    71897
3      386
4      208
5       12
6      498
7       81
8     8306
9    10033
dtype: int64

In [35]:
# Unsure why this is there
df.groupby("Game Type").size()

Game Type
1       15
2    56988
3    35647
dtype: int64

In [36]:
df.keys()

Index(['Radiant_Dire', 'Cluster ID', 'Game Mode', 'Game Type', 'antimage',
       'axe', 'bane', 'bloodseeker', 'crystal_maiden', 'drow_ranger',
       ...
       'legion_commander', 'techies', 'ember_spirit', 'earth_spirit',
       'abyssal_underlord', 'terrorblade', 'phoenix', 'oracle',
       'winter_wyvern', 'arc_warden'],
      dtype='object', length=117)

In [21]:
# Having which heros is of no use, knowing what type of heros they are, is very very useful
# Wrote a parser script to parse the official DOTA website to collect the hero traits like pusher, nuker, carry, off-lane and so on 
hero_names = df.keys()[4:]

In [22]:
# getting the hero names in the dataframe
hero_names

Index(['antimage', 'axe', 'bane', 'bloodseeker', 'crystal_maiden',
       'drow_ranger', 'earthshaker', 'juggernaut', 'mirana', 'morphling',
       ...
       'legion_commander', 'techies', 'ember_spirit', 'earth_spirit',
       'abyssal_underlord', 'terrorblade', 'phoenix', 'oracle',
       'winter_wyvern', 'arc_warden'],
      dtype='object', length=113)

In [23]:
# the modified json file with the hero traits
with open("heroes_modified.json") as hero_json:
    data = json.load(hero_json)

In [24]:
hero_name_from_file=[]

In [25]:
for hero in data["heroes"]:
    hero_name_from_file.append(hero["name"])

In [26]:
# first check if all the hero names in the modified json file correspond to the exact same columns in the data frame
hero_name_from_file == hero_names

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [27]:
# Substitute the game mode number with the more meaningful strings of what they represent
# executed in the below four cells + this one 
with open("lobbies.json") as lobby_json:
    lobby_data = json.load(lobby_json)

In [28]:
lobby_data["lobbies"] = lobby_data["lobbies"][1:]

In [45]:
for value in lobby_data["lobbies"]:
    value["id"] += 1

In [46]:
lobby_data["lobbies"]

[{'id': 1, 'name': 'Public matchmaking'},
 {'id': 2, 'name': 'Practice'},
 {'id': 3, 'name': 'Tournament'},
 {'id': 4, 'name': 'Tutorial'},
 {'id': 5, 'name': 'Co-op with bots'},
 {'id': 6, 'name': 'Team match'},
 {'id': 7, 'name': 'Solo Queue'},
 {'id': 8, 'name': 'Ranked'},
 {'id': 9, 'name': 'Solo Mid 1vs1'}]

In [47]:
df["Game Mode"].tail()

92645    2
92646    2
92647    2
92648    2
92649    2
Name: Game Mode, dtype: int64

In [48]:
df.groupby("Game Mode").size()

Game Mode
1     1229
2    71897
3      386
4      208
5       12
6      498
7       81
8     8306
9    10033
dtype: int64

In [49]:
dummy_cluster = pd.get_dummies(df["Cluster ID"], prefix = "cluster",drop_first=True)

In [50]:
df.shape, dummy_cluster.shape

((92650, 117), (92650, 46))

In [51]:
df = pd.concat([df, dummy_cluster], axis=1 )

In [52]:
df.shape

(92650, 163)

In [53]:
df.head()

,Radiant_Dire,Cluster ID,Game Mode,Game Type,antimage,axe,bane,bloodseeker,crystal_maiden,drow_ranger,...,cluster_213,cluster_223,cluster_224,cluster_225,cluster_227,cluster_231,cluster_232,cluster_241,cluster_251,cluster_261
0,-1,223,2,2,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,152,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
2,1,131,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
3,1,154,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-1,171,2,3,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,0

In [54]:
df = df.drop(["Cluster ID"], axis = 1)

In [56]:
dummy_game_mode = pd.get_dummies(df["Game Mode"], prefix = "GameMode", drop_first=True)

In [57]:
df = pd.concat([df, dummy_game_mode], axis=1)

In [59]:
df.to_pickle("dota_df.pkl")

In [4]:
new_df = pd.read_pickle("dota_df.pkl")

In [5]:
new_df.shape

(92650, 169)

In [ ]:
for i in range(len(new_df)):
    print (new_df.iloc[i])
    print(type(new_df.iloc[i]))
    break

In [5]:
new_df.head()

,Radiant_Dire,Game Mode,Game Type,antimage,axe,bane,bloodseeker,crystal_maiden,drow_ranger,earthshaker,...,cluster_251,cluster_261,GameMode_2,GameMode_3,GameMode_4,GameMode_5,GameMode_6,GameMode_7,GameMode_8,GameMode_9
0,-1,2,2,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,2,2,0,0,0,1,0,-1,0,...,0,0,1,0,0,0,0,0,0,0
2,1,2,2,0,0,0,1,0,-1,0,...,0,0,1,0,0,0,0,0,0,0
3,1,2,2,0,0,0,0,0,0,-1,...,0,0,1,0,0,0,0,0,0,0
4,-1,2,3,0,0,0,0,0,-1,0,...,0,0,1,0,0,0,0,0,0,0

In [6]:
new_df = new_df.drop(["Game Mode"], axis=1)

In [7]:
new_df.head()

,Radiant_Dire,Game Type,antimage,axe,bane,bloodseeker,crystal_maiden,drow_ranger,earthshaker,juggernaut,...,cluster_251,cluster_261,GameMode_2,GameMode_3,GameMode_4,GameMode_5,GameMode_6,GameMode_7,GameMode_8,GameMode_9
0,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,2,0,0,0,1,0,-1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,2,0,0,0,1,0,-1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,2,0,0,0,0,0,0,-1,0,...,0,0,1,0,0,0,0,0,0,0
4,-1,3,0,0,0,0,0,-1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [9]:
new_df.to_pickle("dota_df.pkl")

In [6]:
new_df = pd.read_pickle("dota_df.pkl")

In [7]:
new_df.shape

(92650, 169)

In [8]:
# get all the keys (column names) in the dataframe
l = list(new_df.keys())

In [9]:
# get just the hero named rows in the dataframe
l = l[2:115]

In [ ]:
new_df['antimage'].where(new_df['antimage'] == 1)

In [10]:
condensed_list_radiant = [[] for i in range(len(new_df))]

In [11]:
condensed_list_dire = [[] for i in range(len(new_df))]

In [13]:
len(condensed_list_radiant), len(condensed_list_dire)

(92650, 92650)

In [ ]:
# the below 5 cells excluding this cell were used for proto-typing
new_df.loc[0]

In [ ]:
new_df.loc[new_df["antimage"] == 1]

In [ ]:
new_df.loc[new_df["antimage"] == -1]

In [ ]:
counter= 0
for i, value in new_df.loc[new_df["antimage"] == 0].iterrows():
    counter += 1
print(counter)

In [ ]:

counter= 0
for i, value in new_df.loc[new_df["antimage"] == 1].iterrows():
    condensed_list_radiant[i].append("antimage")
    counter += 1
print(counter)

In [ ]:
counter= 0
for i, value in new_df.loc[new_df["antimage"] == -1].iterrows():
    condensed_list_dire[i].append("antimage")
    counter += 1
print(counter)

In [14]:
# The main cell where we condese all the heros who played on the radiant side for this row( match)
for hero_name in l:
    for i, value in new_df.loc[new_df[hero_name] == 1].iterrows():
        condensed_list_radiant[i].append(hero_name)

In [15]:
# sanity check to detect outliers 
# This should not print anything
for listt in condensed_list_radiant:
    if(len(listt) != 5 ):
        print('not 5 heros')

In [16]:
# The main cell where we condese all the heros who played on the dire side for this row( match)
for hero_name in l:
    for i, value in new_df.loc[new_df[hero_name] == -1].iterrows():
        condensed_list_dire[i].append(hero_name)

In [17]:
# sanity check to detect outliers
# This should not print anything 
for listt in condensed_list_dire:
    if(len(listt) != 5 ):
        print('not 5 heros')

In [18]:
# moreeeeeeeeeee sanity check to detect outliers
# This also should not print anything 
for i in range(len(condensed_list_dire)):
    if len(condensed_list_dire[i]) + len(condensed_list_radiant[i]) != 10:
        print("not 10")

In [19]:
# visualizing 
condensed_list_radiant[0], condensed_list_dire[0]

(['morphling', 'pudge', 'lina', 'slardar', 'riki'],
 ['sven', 'zuus', 'beastmaster', 'invoker', 'nyx_assassin'])

In [29]:
data["heroes"]

[{'name': 'antimage',
  'id': 1,
  'localized_name': 'Anti-Mage',
  'skills': ['Melee', 'Carry', 'Escape', 'Nuker']},
 {'name': 'axe',
  'id': 2,
  'localized_name': 'Axe',
  'skills': ['Melee', 'Initiator', 'Durable', 'Disabler', 'Jungler']},
 {'name': 'bane',
  'id': 3,
  'localized_name': 'Bane',
  'skills': ['Ranged', 'Support', 'Disabler', 'Nuker', 'Durable']},
 {'name': 'bloodseeker',
  'id': 4,
  'localized_name': 'Bloodseeker',
  'skills': ['Melee', 'Carry', 'Disabler', 'Jungler', 'Nuker', 'Initiator']},
 {'name': 'crystal_maiden',
  'id': 5,
  'localized_name': 'Crystal Maiden',
  'skills': ['Ranged', 'Support', 'Disabler', 'Nuker', 'Jungler']},
 {'name': 'drow_ranger',
  'id': 6,
  'localized_name': 'Drow Ranger',
  'skills': ['Ranged', 'Carry', 'Disabler', 'Pusher']},
 {'name': 'earthshaker',
  'id': 7,
  'localized_name': 'Earthshaker',
  'skills': ['Melee', 'Support', 'Initiator', 'Disabler', 'Nuker']},
 {'name': 'juggernaut',
  'id': 8,
  'localized_name': 'Juggernaut',
  'skills': ['Melee', 'Carry', 'Pusher', 'Escape']},
 {'name': 'mirana',
  'id': 9,
  'localized_name': 'Mirana',
  'skills': ['Ranged', 'Carry', 'Support', 'Escape', 'Nuker', 'Disabler']},
 {'name': 'morphling',
  'id': 10,
  'localized_name': 'Morphling',
  'skills': ['Ranged', 'Carry', 'Escape', 'Durable', 'Nuker', 'Disabler']},
 {'name': 'nevermore',
  'id': 11,
  'localized_name': 'Shadow Fiend',
  'skills': ['Ranged', 'Carry', 'Nuker']},
 {'name': 'phantom_lancer',
  'id': 12,
  'localized_name': 'Phantom Lancer',
  'skills': ['Melee', 'Carry', 'Escape', 'Pusher', 'Nuker']},
 {'name': 'puck',
  'id': 13,
  'localized_name': 'Puck',
  'skills': ['Ranged', 'Initiator', 'Disabler', 'Escape', 'Nuker']},
 {'name': 'pudge',
  'id': 14,
  'localized_name': 'Pudge',
  'skills': ['Melee', 'Disabler', 'Initiator', 'Durable', 'Nuker']},
 {'name': 'razor',
  'id': 15,
  'localized_name': 'Razor',
  'skills': ['Ranged', 'Carry', 'Durable', 'Nuker', 'Pusher']},
 {'name': 'sand_king',
  'id': 16,
  'localized_name': 'Sand King',
  'skills': ['Melee',
   'Initiator',
   'Disabler',
   'Support',
   'Nuker',
   'Escape',
   'Jungler']},
 {'name': 'storm_spirit',
  'id': 17,
  'localized_name': 'Storm Spirit',
  'skills': ['Ranged', 'Carry', 'Escape', 'Nuker', 'Initiator', 'Disabler']},
 {'name': 'sven',
  'id': 18,
  'localized_name': 'Sven',
  'skills': ['Melee', 'Carry', 'Disabler', 'Initiator', 'Durable', 'Nuker']},
 {'name': 'tiny',
  'id': 19,
  'localized_name': 'Tiny',
  'skills': ['Melee',
   'Carry',
   'Nuker',
   'Pusher',
   'Initiator',
   'Durable',
   'Disabler']},
 {'name': 'vengefulspirit',
  'id': 20,
  'localized_name': 'Vengeful Spirit',
  'skills': ['Ranged', 'Support', 'Initiator', 'Disabler', 'Nuker', 'Escape']},
 {'name': 'windrunner',
  'id': 21,
  'localized_name': 'Windranger',
  'skills': ['Ranged', 'Carry', 'Support', 'Disabler', 'Escape', 'Nuker']},
 {'name': 'zuus',
  'id': 22,
  'localized_name': 'Zeus',
  'skills': ['Ranged', 'Nuker']},
 {'name': 'kunkka',
  'id': 23,
  'localized_name': 'Kunkka',
  'skills': ['Melee',
   'Carry',
   'Support',
   'Disabler',
   'Initiator',
   'Durable',
   'Nuker']},
 {'name': 'monkey_king',
  'id': 24,
  'localized_name': 'Monkey King',
  'skills': ['Melee', 'Carry', 'Escape', 'Disabler', 'Initiator']},
 {'name': 'lina',
  'id': 25,
  'localized_name': 'Lina',
  'skills': ['Ranged', 'Support', 'Carry', 'Nuker', 'Disabler']},
 {'name': 'lion',
  'id': 26,
  'localized_name': 'Lion',
  'skills': ['Ranged', 'Support', 'Disabler', 'Nuker', 'Initiator']},
 {'name': 'shadow_shaman',
  'id': 27,
  'localized_name': 'Shadow Shaman',
  'skills': ['Ranged', 'Support', 'Pusher', 'Disabler', 'Nuker', 'Initiator']},
 {'name': 'slardar',
  'id': 28,
  'localized_name': 'Slardar',
  'skills': ['Melee', 'Carry', 'Durable', 'Initiator', 'Disabler', 'Escape']},
 {'name': 'tidehunter',
  'id': 29,
  'localized_name': 'Tidehunter',
  'skills': ['Melee', 'Initiator', 'Durable', 'Disabler', 'Nuker']},
 {'name': 'witch_doctor',
  'id': 30,
  'localized_name': 'Witch Doctor',
  'skills': ['Ranged', 'Support', 'Nuker', 'Disabler']},
 {'name': 'lich',
  'id': 31,
  'localized_name': 'Lich',
  'skills': ['Ranged', 'Support', 'Nuker']},
 {'name': 'riki',
  'id': 32,
  'localized_name': 'Riki',
  'skills': ['Melee', 'Carry', 'Escape', 'Disabler']},
 {'name': 'enigma',
  'id': 33,
  'localized_name': 'Enigma',
  'skills': ['Ranged', 'Disabler', 'Jungler', 'Initiator', 'Pusher']},
 {'name': 'tinker',
  'id': 34,
  'localized_name': 'Tinker',
  'skills': ['Ranged', 'Carry', 'Nuker', 'Pusher']},
 {'name': 'sniper',
  'id': 35,
  'localized_name': 'Sniper',
  'skills': ['Ranged', 'Carry', 'Nuker']},
 {'name': 'necrolyte',
  'id': 36,
  'localized_name': 'Necrophos',
  'skills': ['Ranged', 'Carry', 'Nuker', 'Durable', 'Disabler']},
 {'name': 'warlock',
  'id': 37,
  'localized_name': 'Warlock',
  'skills': ['Ranged', 'Support', 'Initiator', 'Disabler']},
 {'name': 'beastmaster',
  'id': 38,
  'localized_name': 'Beastmaster',
  'skills': ['Melee', 'Initiator', 'Disabler', 'Durable', 'Nuker']},
 {'name': 'queenofpain',
  'id': 39,
  'localized_name': 'Queen of Pain',
  'skills': ['Ranged', 'Carry', 'Nuker', 'Escape']},
 {'name': 'venomancer',
  'id': 40,
  'localized_name': 'Venomancer',
  'skills': ['Ranged', 'Support', 'Nuker', 'Initiator', 'Pusher', 'Disabler']},
 {'name': 'faceless_void',
  'id': 41,
  'localized_name': 'Faceless Void',
  'skills': ['Melee', 'Carry', 'Initiator', 'Disabler', 'Escape', 'Durable']},
 {'name': 'skeleton_king',
  'id': 42,
  'localized_name': 'Skeleton King',
  'skills': ['Melee', 'Carry', 'Support', 'Durable', 'Disabler', 'Initiator']},
 {'name': 'death_prophet',
  'id': 43,
  'localized_name': 'Death Prophet',
  'skills': ['Ranged', 'Carry', 'Pusher', 'Nuker', 'Disabler']},
 {'name': 'phantom_assassin',
  'id': 44,
  'localized_name': 'Phantom Assassin',
  'skills': ['Melee', 'Carry', 'Escape']},
 {'name': 'pugna',
  'id': 45,
  'localized_name': 'Pugna',
  'skills': ['Ranged', 'Nuker', 'Pusher']},
 {'name': 'templar_assassin',
  'id': 46,
  'localized_name': 'Templar Assassin',
  'skills': ['Ranged', 'Carry', 'Escape']},
 {'name': 'viper',
  'id': 47,
  'localized_name': 'Viper',
  'skills': ['Ranged', 'Carry', 'Durable', 'Initiator', 'Disabler']},
 {'name': 'luna',
  'id': 48,
  'localized_name': 'Luna',
  'skills': ['Ranged', 'Carry', 'Nuker', 'Pusher']},
 {'name': 'dragon_knight',
  'id': 49,
  'localized_name': 'Dragon Knight',
  'skills': ['Melee',
   'Carry',
   'Pusher',
   'Durable',
   'Disabler',
   'Initiator',
   'Nuker']},
 {'name': 'dazzle',
  'id': 50,
  'localized_name': 'Dazzle',
  'skills': ['Ranged', 'Support', 'Nuker', 'Disabler']},
 {'name': 'rattletrap',
  'id': 51,
  'localized_name': 'Clockwerk',
  'skills': ['Melee', 'Initiator', 'Disabler', 'Durable', 'Nuker']},
 {'name': 'leshrac',
  'id': 52,
  'localized_name': 'Leshrac',
  'skills': ['Ranged', 'Carry', 'Support', 'Nuker', 'Pusher', 'Disabler']},
 {'name': 'furion',
  'id': 53,
  'localized_name': "Nature's Prophet",
  'skills': ['Ranged', 'Carry', 'Jungler', 'Pusher', 'Escape', 'Nuker']},
 {'name': 'life_stealer',
  'id': 54,
  'localized_name': 'Lifestealer',
  'skills': ['Melee', 'Carry', 'Durable', 'Jungler', 'Escape', 'Disabler']},
 {'name': 'dark_seer',
  'id': 55,
  'localized_name': 'Dark Seer',
  'skills': ['Melee', 'Initiator', 'Jungler', 'Escape', 'Disabler']},
 {'name': 'clinkz',
  'id': 56,
  'localized_name': 'Clinkz',
  'skills': ['Ranged', 'Carry', 'Escape', 'Pusher']},
 {'name': 'omniknight',
  'id': 57,
  'localized_name': 'Omniknight',
  'skills': ['Melee', 'Support', 'Durable', 'Nuker']},
 {'name': 'enchantress',
  'id': 58,
  'localized_name': 'Enchantress',
  'skills': ['Ranged', 'Support', 'Jungler', 'Pusher', 'Durable', 'Disabler']},
 {'name': 'huskar',
  'id': 59,
  'localized_name': 'Huskar',
  'skills': ['Ranged', 'Carry', 'Durable', 'Initiator']},
 {'name': 'night_stalker',
  'id': 60,
  'localized_name': 'Night Stalker',
  'skills': ['Melee', 'Carry', 'Initiator', 'Durable', 'Disabler', 'Nuker']},
 {'name': 'broodmother',
  'id': 61,
  'localized_name': 'Broodmother',
  'skills': ['Melee', 'Carry', 'Pusher', 'Escape', 'Nuker']},
 {'name': 'bounty_hunter',
  'id': 62,
  'localized_name': 'Bounty Hunter',
  'skills': ['Melee', 'Escape', 'Nuker']},
 {'name': 'weaver',
  'id': 63,
  'localized_name': 'Weaver',
  'skills': ['Ranged', 'Carry', 'Escape']},
 {'name': 'jakiro',
  'id': 64,
  'localized_name': 'Jakiro',
  'skills': ['Ranged', 'Support', 'Nuker', 'Pusher', 'Disabler']},
 {'name': 'batrider',
  'id': 65,
  'localized_name': 'Batrider',
  'skills': ['Ranged', 'Initiator', 'Jungler', 'Disabler', 'Escape']},
 {'name': 'chen',
  'id': 66,
  'localized_name': 'Chen',
  'skills': ['Ranged', 'Support', 'Jungler', 'Pusher']},
 {'name': 'spectre',
  'id': 67,
  'localized_name': 'Spectre',
  'skills': ['Melee', 'Carry', 'Durable', 'Escape']},
 {'name': 'ancient_apparition',
  'id': 68,
  'localized_name': 'Ancient Apparition',
  'skills': ['Ranged', 'Support', 'Disabler', 'Nuker']},
 {'name': 'doom_bringer',
  'id': 69,
  'localized_name': 'Doom',
  'skills': ['Melee', 'Carry', 'Disabler', 'Initiator', 'Durable', 'Nuker']},
 {'name': 'ursa',
  'id': 70,
  'localized_name': 'Ursa',
  'skills': ['Melee', 'Carry', 'Jungler', 'Durable', 'Disabler']},
 {'name': 'spirit_breaker',
  'id': 71,
  'localized_name': 'Spirit Breaker',
  'skills': ['Melee', 'Carry', 'Initiator', 'Disabler', 'Durable', 'Escape']},
 {'name': 'gyrocopter',
  'id': 72,
  'localized_name': 'Gyrocopter',
  'skills': ['Ranged', 'Carry', 'Nuker', 'Disabler']},
 {'name': 'alchemist',
  'id': 73,
  'localized_name': 'Alchemist',
  'skills': ['Melee',
   'Carry',
   'Support',
   'Durable',
   'Disabler',
   'Initiator',
   'Nuker']},
 {'name': 'invoker',
  'id': 74,
  'localized_name': 'Invoker',
  'skills': ['Ranged', 'Carry', 'Nuker', 'Disabler', 'Escape', 'Pusher']},
 {'name': 'silencer',
  'id': 75,
  'localized_name': 'Silencer',
  'skills': ['Ranged', 'Carry', 'Support', 'Disabler', 'Initiator', 'Nuker']},
 {'name': 'obsidian_destroyer',
  'id': 76,
  'localized_name': 'Outworld Devourer',
  'skills': ['Ranged', 'Carry', 'Nuker', 'Disabler']},
 {'name': 'lycan',
  'id': 77,
  'localized_name': 'Lycanthrope',
  'skills': ['Melee', 'Carry', 'Pusher', 'Jungler', 'Durable', 'Escape']},
 {'name': 'brewmaster',
  'id': 78,
  'localized_name': 'Brewmaster',
  'skills': ['Melee', 'Carry', 'Initiator', 'Durable', 'Disabler', 'Nuker']},
 {'name': 'shadow_demon',
  'id': 79,
  'localized_name': 'Shadow Demon',
  'skills': ['Ranged', 'Support', 'Disabler', 'Initiator', 'Nuker']},
 {'name': 'lone_druid',
  'id': 80,
  'localized_name': 'Lone Druid',
  'skills': ['Ranged', 'Carry', 'Pusher', 'Jungler', 'Durable']},
 {'name': 'chaos_knight',
  'id': 81,
  'localized_name': 'Chaos Knight',
  'skills': ['Melee', 'Carry', 'Disabler', 'Durable', 'Pusher', 'Initiator']},
 {'name': 'meepo',
  'id': 82,
  'localized_name': 'Meepo',
  'skills': ['Melee',
   'Carry',
   'Escape',
   'Nuker',
   'Disabler',
   'Initiator',
   'Pusher']},
 {'name': 'treant',
  'id': 83,
  'localized_name': 'Treant Protector',
  'skills': ['Melee',
   'Support',
   'Initiator',
   'Durable',
   'Disabler',
   'Escape']},
 {'name': 'ogre_magi',
  'id': 84,
  'localized_name': 'Ogre Magi',
  'skills': ['Melee', 'Support', 'Nuker', 'Disabler', 'Durable', 'Initiator']},
 {'name': 'undying',
  'id': 85,
  'localized_name': 'Undying',
  'skills': ['Melee', 'Support', 'Durable', 'Disabler', 'Nuker']},
 {'name': 'rubick',
  'id': 86,
  'localized_name': 'Rubick',
  'skills': ['Ranged', 'Support', 'Disabler', 'Nuker']},
 {'name': 'disruptor',
  'id': 87,
  'localized_name': 'Disruptor',
  'skills': ['Ranged', 'Support', 'Disabler', 'Nuker', 'Initiator']},
 {'name': 'nyx_assassin',
  'id': 88,
  'localized_name': 'Nyx Assassin',
  'skills': ['Melee', 'Disabler', 'Nuker', 'Initiator', 'Escape']},
 {'name': 'naga_siren',
  'id': 89,
  'localized_name': 'Naga Siren',
  'skills': ['Melee',
   'Carry',
   'Support',
   'Pusher',
   'Disabler',
   'Initiator',
   'Escape']},
 {'name': 'keeper_of_the_light',
  'id': 90,
  'localized_name': 'Keeper of the Light',
  'skills': ['Ranged', 'Support', 'Nuker', 'Disabler', 'Jungler']},
 {'name': 'wisp',
  'id': 91,
  'localized_name': 'Wisp',
  'skills': ['Ranged', 'Support', 'Escape', 'Nuker']},
 {'name': 'visage',
  'id': 92,
  'localized_name': 'Visage',
  'skills': ['Ranged', 'Support', 'Nuker', 'Durable', 'Disabler', 'Pusher']},
 {'name': 'slark',
  'id': 93,
  'localized_name': 'Slark',
  'skills': ['Melee', 'Carry', 'Escape', 'Disabler', 'Nuker']},
 {'name': 'medusa',
  'id': 94,
  'localized_name': 'Medusa',
  'skills': ['Ranged', 'Carry', 'Disabler', 'Durable']},
 {'name': 'troll_warlord',
  'id': 95,
  'localized_name': 'Troll Warlord',
  'skills': ['Ranged', 'Carry', 'Pusher', 'Disabler', 'Durable']},
 {'name': 'centaur',
  'id': 96,
  'localized_name': 'Centaur Warrunner',
  'skills': ['Melee', 'Durable', 'Initiator', 'Disabler', 'Nuker', 'Escape']},
 {'name': 'magnataur',
  'id': 97,
  'localized_name': 'Magnus',
  'skills': ['Melee', 'Initiator', 'Disabler', 'Nuker', 'Escape']},
 {'name': 'shredder',
  'id': 98,
  'localized_name': 'Timbersaw',
  'skills': ['Melee', 'Nuker', 'Durable', 'Escape']},
 {'name': 'bristleback',
  'id': 99,
  'localized_name': 'Bristleback',
  'skills': ['Melee', 'Carry', 'Durable', 'Initiator', 'Nuker']},
 {'name': 'tusk',
  'id': 100,
  'localized_name': 'Tusk',
  'skills': ['Melee', 'Initiator', 'Disabler', 'Nuker']},
 {'name': 'skywrath_mage',
  'id': 101,
  'localized_name': 'Skywrath Mage',
  'skills': ['Ranged', 'Support', 'Nuker', 'Disabler']},
 {'name': 'abaddon',
  'id': 102,
  'localized_name': 'Abaddon',
  'skills': ['Melee', 'Support', 'Carry', 'Durable']},
 {'name': 'elder_titan',
  'id': 103,
  'localized_name': 'Elder Titan',
  'skills': ['Melee', 'Initiator', 'Disabler', 'Nuker', 'Durable']},
 {'name': 'legion_commander',
  'id': 104,
  'localized_name': 'Legion Commander',
  'skills': ['Melee', 'Carry', 'Disabler', 'Initiator', 'Durable', 'Nuker']},
 {'name': 'techies',
  'id': 105,
  'localized_name': 'Techies',
  'skills': ['Ranged', 'Nuker', 'Disabler']},
 {'name': 'ember_spirit',
  'id': 106,
  'localized_name': 'Ember Spirit',
  'skills': ['Melee', 'Carry', 'Escape', 'Nuker', 'Disabler', 'Initiator']},
 {'name': 'earth_spirit',
  'id': 107,
  'localized_name': 'Earth Spirit',
  'skills': ['Melee', 'Nuker', 'Escape', 'Disabler', 'Initiator', 'Durable']},
 {'name': 'abyssal_underlord',
  'id': 108,
  'localized_name': 'Abyssal Underlord',
  'skills': ['Melee', 'Support', 'Nuker', 'Disabler', 'Durable', 'Escape']},
 {'name': 'terrorblade',
  'id': 109,
  'localized_name': 'Terrorblade',
  'skills': ['Melee', 'Carry', 'Pusher', 'Nuker']},
 {'name': 'phoenix',
  'id': 110,
  'localized_name': 'Phoenix',
  'skills': ['Ranged', 'Support', 'Nuker', 'Initiator', 'Escape', 'Disabler']},
 {'name': 'oracle',
  'id': 111,
  'localized_name': 'Oracle',
  'skills': ['Ranged', 'Support', 'Nuker', 'Disabler', 'Escape']},
 {'name': 'winter_wyvern',
  'id': 112,
  'localized_name': 'Winter Wyvern',
  'skills': ['Ranged', 'Support', 'Disabler', 'Nuker']},
 {'name': 'arc_warden',
  'id': 113,
  'localized_name': 'Arc Warden',
  'skills': ['Ranged', 'Carry', 'Escape', 'Nuker']}]

In [30]:
# creating a set of the possible skills that could be there for any hero
total_skill_set = set()

In [31]:
# actually loading skills into the set
for value in data["heroes"]:
    s = set(value["skills"])
    total_skill_set = total_skill_set | s

In [32]:
total_skill_set

{'Carry',
 'Disabler',
 'Durable',
 'Escape',
 'Initiator',
 'Jungler',
 'Melee',
 'Nuker',
 'Pusher',
 'Ranged',
 'Support'}

In [33]:
# converting the skills into a list
total_skill_set = list(total_skill_set)

In [34]:
total_skill_set

['Pusher',
 'Disabler',
 'Escape',
 'Jungler',
 'Nuker',
 'Durable',
 'Ranged',
 'Melee',
 'Carry',
 'Support',
 'Initiator']

In [35]:
# each list contains 2 dictonaries and there are 92650 such lists,
# so the shape is 2D array with each box containing 2 dictonaries, first one for radiant, second one for dire 
skills_per_row = [[{},{}] for i in range(len(new_df))]

In [36]:
skills_per_row[1]

[{}, {}]

In [37]:
# Initialising the entire dictionary for both radiant and dire with all the skills for all heroes
for i in range(len(skills_per_row)):
    for skill in total_skill_set:
        skills_per_row[i][0][skill] = 0
        skills_per_row[i][1][skill] = 0

In [38]:
# sanity check
skills_per_row[0]

[{'Pusher': 0,
  'Disabler': 0,
  'Escape': 0,
  'Jungler': 0,
  'Nuker': 0,
  'Durable': 0,
  'Ranged': 0,
  'Melee': 0,
  'Carry': 0,
  'Support': 0,
  'Initiator': 0},
 {'Pusher': 0,
  'Disabler': 0,
  'Escape': 0,
  'Jungler': 0,
  'Nuker': 0,
  'Durable': 0,
  'Ranged': 0,
  'Melee': 0,
  'Carry': 0,
  'Support': 0,
  'Initiator': 0}]

In [39]:
condensed_list_radiant[0], condensed_list_dire[0]

(['morphling', 'pudge', 'lina', 'slardar', 'riki'],
 ['sven', 'zuus', 'beastmaster', 'invoker', 'nyx_assassin'])

In [40]:
data["heroes"][0]

{'name': 'antimage',
 'id': 1,
 'localized_name': 'Anti-Mage',
 'skills': ['Melee', 'Carry', 'Escape', 'Nuker']}

In [41]:
# It would be inefficient to go over each hero in the radiant and dire side and then find out where each hero
# is there in the "data" json. Instead, we have a pattern here, all the heroes have an ID key attached to them

# We create a dictionary with hero name as the key, and the ID - 1 ( for 0 based indexing ) as the value 
hero_index_from_json = {}
for value in data["heroes"]:
    hero_index_from_json[value["name"]] = value["id"] -1

In [42]:
# visualizing the above created dictionary
hero_index_from_json

{'antimage': 0,
 'axe': 1,
 'bane': 2,
 'bloodseeker': 3,
 'crystal_maiden': 4,
 'drow_ranger': 5,
 'earthshaker': 6,
 'juggernaut': 7,
 'mirana': 8,
 'morphling': 9,
 'nevermore': 10,
 'phantom_lancer': 11,
 'puck': 12,
 'pudge': 13,
 'razor': 14,
 'sand_king': 15,
 'storm_spirit': 16,
 'sven': 17,
 'tiny': 18,
 'vengefulspirit': 19,
 'windrunner': 20,
 'zuus': 21,
 'kunkka': 22,
 'monkey_king': 23,
 'lina': 24,
 'lion': 25,
 'shadow_shaman': 26,
 'slardar': 27,
 'tidehunter': 28,
 'witch_doctor': 29,
 'lich': 30,
 'riki': 31,
 'enigma': 32,
 'tinker': 33,
 'sniper': 34,
 'necrolyte': 35,
 'warlock': 36,
 'beastmaster': 37,
 'queenofpain': 38,
 'venomancer': 39,
 'faceless_void': 40,
 'skeleton_king': 41,
 'death_prophet': 42,
 'phantom_assassin': 43,
 'pugna': 44,
 'templar_assassin': 45,
 'viper': 46,
 'luna': 47,
 'dragon_knight': 48,
 'dazzle': 49,
 'rattletrap': 50,
 'leshrac': 51,
 'furion': 52,
 'life_stealer': 53,
 'dark_seer': 54,
 'clinkz': 55,
 'omniknight': 56,
 'enchantress': 57,
 'huskar': 58,
 'night_stalker': 59,
 'broodmother': 60,
 'bounty_hunter': 61,
 'weaver': 62,
 'jakiro': 63,
 'batrider': 64,
 'chen': 65,
 'spectre': 66,
 'ancient_apparition': 67,
 'doom_bringer': 68,
 'ursa': 69,
 'spirit_breaker': 70,
 'gyrocopter': 71,
 'alchemist': 72,
 'invoker': 73,
 'silencer': 74,
 'obsidian_destroyer': 75,
 'lycan': 76,
 'brewmaster': 77,
 'shadow_demon': 78,
 'lone_druid': 79,
 'chaos_knight': 80,
 'meepo': 81,
 'treant': 82,
 'ogre_magi': 83,
 'undying': 84,
 'rubick': 85,
 'disruptor': 86,
 'nyx_assassin': 87,
 'naga_siren': 88,
 'keeper_of_the_light': 89,
 'wisp': 90,
 'visage': 91,
 'slark': 92,
 'medusa': 93,
 'troll_warlord': 94,
 'centaur': 95,
 'magnataur': 96,
 'shredder': 97,
 'bristleback': 98,
 'tusk': 99,
 'skywrath_mage': 100,
 'abaddon': 101,
 'elder_titan': 102,
 'legion_commander': 103,
 'techies': 104,
 'ember_spirit': 105,
 'earth_spirit': 106,
 'abyssal_underlord': 107,
 'terrorblade': 108,
 'phoenix': 109,
 'oracle': 110,
 'winter_wyvern': 111,
 'arc_warden': 112}

In [49]:
# converting the heroes to their corresponding indexes in the "data" json for that row in the radiant side,
# as the name suggests
condensed_list_radiant_converted_to_index = [[] for i in range(len(new_df))]

In [50]:
# converting the heroes to their corresponding indexes in the "data" json for that row in the dire side,
# as the name suggests
condensed_list_dire_converted_to_index = [[] for i in range(len(new_df))]

In [51]:
condensed_list_dire_converted_to_index[0], condensed_list_radiant_converted_to_index[0]

([], [])

In [52]:
# here is where the actual conversion between the heroes and their corresponding indexes in the "data" json happens
i = 0
for radiant_heros, dire_heros in zip(condensed_list_radiant, condensed_list_dire):
#     print(radiant_heros)
    for hero in radiant_heros:
        condensed_list_radiant_converted_to_index[i].append(hero_index_from_json[hero])
#     print(dire_heros)
    for hero in dire_heros:
        condensed_list_dire_converted_to_index[i].append(hero_index_from_json[hero])
    
    i += 1

In [53]:
# visualizing
condensed_list_radiant_converted_to_index[1], condensed_list_dire_converted_to_index[1]

([3, 13, 25, 26, 70], [5, 20, 34, 92, 97])

In [54]:
i

92650

In [55]:
data["heroes"][condensed_list_dire_converted_to_index[0][0]]["skills"]

['Melee', 'Carry', 'Disabler', 'Initiator', 'Durable', 'Nuker']

In [56]:
data["heroes"][condensed_list_dire_converted_to_index[0][0]]

{'name': 'sven',
 'id': 18,
 'localized_name': 'Sven',
 'skills': ['Melee', 'Carry', 'Disabler', 'Initiator', 'Durable', 'Nuker']}

So now for each row, we have which heros played on the radiant side and the dire side
We also have their indexes according to "data" json and that json contains the skills/attributes for each hero

    We are going to aggregate and get that data, and include all of them in the "skills_per_row" data structure

In [57]:

for i in range(len(skills_per_row)):
    for hero_number_index in condensed_list_radiant_converted_to_index[i]:
#         print( hero_number_index)
        for each_skill in data["heroes"][hero_number_index]["skills"]:
#             print(each_skill)
            skills_per_row[i][0][each_skill] += 1
#     print(skills_per_row[i][0])
    for hero_number_index in condensed_list_dire_converted_to_index[i]:
#         print( hero_number_index)
        for each_skill in data["heroes"][hero_number_index]["skills"]:
#             print(each_skill)
            skills_per_row[i][1][each_skill] += 1
#     print(skills_per_row[i][1])

In [58]:
skills_per_row[100]

[{'Pusher': 2,
  'Disabler': 3,
  'Escape': 3,
  'Jungler': 0,
  'Nuker': 4,
  'Durable': 2,
  'Ranged': 2,
  'Melee': 3,
  'Carry': 3,
  'Support': 2,
  'Initiator': 2},
 {'Pusher': 2,
  'Disabler': 5,
  'Escape': 2,
  'Jungler': 3,
  'Nuker': 2,
  'Durable': 1,
  'Ranged': 4,
  'Melee': 1,
  'Carry': 2,
  'Support': 1,
  'Initiator': 2}]

In [59]:
condensed_list_radiant[100], condensed_list_dire[100]

(['juggernaut', 'windrunner', 'tinker', 'ogre_magi', 'earth_spirit'],
 ['axe', 'drow_ranger', 'batrider', 'invoker', 'keeper_of_the_light'])

In [60]:
condensed_list_radiant_converted_to_index[100],  condensed_list_dire_converted_to_index[100]

([7, 20, 33, 83, 106], [1, 5, 64, 73, 89])

In [61]:
data["heroes"][7]

{'name': 'juggernaut',
 'id': 8,
 'localized_name': 'Juggernaut',
 'skills': ['Melee', 'Carry', 'Pusher', 'Escape']}

In [68]:
list(new_df.keys()[2:115])

['antimage',
 'axe',
 'bane',
 'bloodseeker',
 'crystal_maiden',
 'drow_ranger',
 'earthshaker',
 'juggernaut',
 'mirana',
 'morphling',
 'nevermore',
 'phantom_lancer',
 'puck',
 'pudge',
 'razor',
 'sand_king',
 'storm_spirit',
 'sven',
 'tiny',
 'vengefulspirit',
 'windrunner',
 'zuus',
 'kunkka',
 'monkey_king',
 'lina',
 'lion',
 'shadow_shaman',
 'slardar',
 'tidehunter',
 'witch_doctor',
 'lich',
 'riki',
 'enigma',
 'tinker',
 'sniper',
 'necrolyte',
 'warlock',
 'beastmaster',
 'queenofpain',
 'venomancer',
 'faceless_void',
 'skeleton_king',
 'death_prophet',
 'phantom_assassin',
 'pugna',
 'templar_assassin',
 'viper',
 'luna',
 'dragon_knight',
 'dazzle',
 'rattletrap',
 'leshrac',
 'furion',
 'life_stealer',
 'dark_seer',
 'clinkz',
 'omniknight',
 'enchantress',
 'huskar',
 'night_stalker',
 'broodmother',
 'bounty_hunter',
 'weaver',
 'jakiro',
 'batrider',
 'chen',
 'spectre',
 'ancient_apparition',
 'doom_bringer',
 'ursa',
 'spirit_breaker',
 'gyrocopter',
 'alchemist',
 'invoker',
 'silencer',
 'obsidian_destroyer',
 'lycan',
 'brewmaster',
 'shadow_demon',
 'lone_druid',
 'chaos_knight',
 'meepo',
 'treant',
 'ogre_magi',
 'undying',
 'rubick',
 'disruptor',
 'nyx_assassin',
 'naga_siren',
 'keeper_of_the_light',
 'wisp',
 'visage',
 'slark',
 'medusa',
 'troll_warlord',
 'centaur',
 'magnataur',
 'shredder',
 'bristleback',
 'tusk',
 'skywrath_mage',
 'abaddon',
 'elder_titan',
 'legion_commander',
 'techies',
 'ember_spirit',
 'earth_spirit',
 'abyssal_underlord',
 'terrorblade',
 'phoenix',
 'oracle',
 'winter_wyvern',
 'arc_warden']

In [70]:
new_df = new_df.drop(columns=list(new_df.keys()[2:115]))

In [71]:
new_df.head()

,Radiant_Dire,Game Type,cluster_112,cluster_121,cluster_122,cluster_123,cluster_124,cluster_131,cluster_132,cluster_133,...,cluster_251,cluster_261,GameMode_2,GameMode_3,GameMode_4,GameMode_5,GameMode_6,GameMode_7,GameMode_8,GameMode_9
0,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,2,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,-1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [73]:
skills_per_row[0]

[{'Pusher': 0,
  'Disabler': 5,
  'Escape': 3,
  'Jungler': 0,
  'Nuker': 3,
  'Durable': 3,
  'Ranged': 2,
  'Melee': 3,
  'Carry': 4,
  'Support': 1,
  'Initiator': 2},
 {'Pusher': 1,
  'Disabler': 4,
  'Escape': 2,
  'Jungler': 0,
  'Nuker': 5,
  'Durable': 2,
  'Ranged': 2,
  'Melee': 3,
  'Carry': 2,
  'Support': 0,
  'Initiator': 3}]

In [90]:
skills_for_df = {}

In [91]:
total_skill_set

['Pusher',
 'Disabler',
 'Escape',
 'Jungler',
 'Nuker',
 'Durable',
 'Ranged',
 'Melee',
 'Carry',
 'Support',
 'Initiator']

In [92]:
for skill in total_skill_set:
    rst = "Radiant_" + skill
    dst = "Dire_" + skill
    skills_for_df[rst] = []
    skills_for_df[dst] = []

In [93]:
skills_for_df

{'Radiant_Pusher': [],
 'Dire_Pusher': [],
 'Radiant_Disabler': [],
 'Dire_Disabler': [],
 'Radiant_Escape': [],
 'Dire_Escape': [],
 'Radiant_Jungler': [],
 'Dire_Jungler': [],
 'Radiant_Nuker': [],
 'Dire_Nuker': [],
 'Radiant_Durable': [],
 'Dire_Durable': [],
 'Radiant_Ranged': [],
 'Dire_Ranged': [],
 'Radiant_Melee': [],
 'Dire_Melee': [],
 'Radiant_Carry': [],
 'Dire_Carry': [],
 'Radiant_Support': [],
 'Dire_Support': [],
 'Radiant_Initiator': [],
 'Dire_Initiator': []}

In [94]:
for i in range(len(skills_per_row)):
#     print(skills_per_row[i][0])
    for key in skills_per_row[i][0].keys():
        rst = "Radiant_" + key
        skills_for_df[rst].append(skills_per_row[i][0][key])
#     print("\n")
#     print(skills_per_row[i][1])
    for key in skills_per_row[i][1].keys():
        rst = "Dire_" + key
        skills_for_df[rst].append(skills_per_row[i][1][key])

In [96]:
len(skills_for_df["Radiant_Disabler"])

92650

In [98]:
skills_df = pd.DataFrame.from_dict(skills_for_df)

In [99]:
skills_df

,Radiant_Pusher,Dire_Pusher,Radiant_Disabler,Dire_Disabler,Radiant_Escape,Dire_Escape,Radiant_Jungler,Dire_Jungler,Radiant_Nuker,Dire_Nuker,...,Radiant_Ranged,Dire_Ranged,Radiant_Melee,Dire_Melee,Radiant_Carry,Dire_Carry,Radiant_Support,Dire_Support,Radiant_Initiator,Dire_Initiator
0,0,1,5,4,3,2,0,0,3,5,...,2,2,3,3,4,2,1,0,2,3
1,1,1,5,3,1,3,1,0,4,4,...,2,3,3,2,2,4,2,1,5,0
2,0,1,3,4,1,3,1,0,3,3,...,3,4,2,1,4,4,1,1,2,1
3,1,0,3,5,3,0,1,0,3,3,...,3,1,2,4,4,4,0,3,1,5
4,0,1,3,4,2,1,1,0,4,4,...,2,4,3,1,3,3,3,2,2,1
5,1,1,3,3,2,4,1,2,3,2,...,2,1,3,4,3,4,1,0,2,2
6,0,1,4,5,2,3,0,1,5,3,...,2,1,3,4,2,3,0,0,2,4
7,1,1,4,3,1,4,0,1,4,4,...,3,1,2,4,4,2,1,0,2,1
8,1,2,4,4,0,3,0,1,3,1,...,3,1,2,4,3,3,2,2,3,2
9,0,1,3,3,2,3,1,0,3,2,...,3,1,2,4,4,3,1,2,3,2
10,1,2,5,1,0,3,2,0,3,3,...,2,2,3,3,3,4,1,0,3,0
11,0,0,4,2,2,2,0,0,4,5,...,3,3,2,2,3,3,3,1,1,2
12,3,0,4,4,1,4,1,1,4,2,...,4,1,1,4,3,5,1,1,3,2
13,0,2,3,4,3,0,1,1,2,4,...,1,3,4,2,3,2,0,1,3,2
14,0,1,4,4,4,3,1,0,3,2,...,1,2,4,3,3,5,1,1,3,3
15,1,0,3,5,3,0,0,2,2,3,...,3,1,2,4,5,4,1,0,1,3
16,0,1,5,1,1,3,1,0,4,4,...,0,3,5,2,3,4,2,0,3,1
17,1,3,3,4,2,2,1,0,3,3,...,2,4,3,1,3,4,2,3,1,2
18,2,0,4,3,3,4,1,1,4,1,...,1,1,4,4,5,4,0,1,2,1
19,0,1,4,4,3,2,0,2,5,5,...,3,3,2,2,3,3,3,3,1,2
20,2,2,3,4,1,3,0,0,4,4,...,3,4,2,1,3,4,1,2,1,1
21,1,0,2,5,3,1,0,0,4,4,...,2,2,3,3,3,3,1,2,1,3
22,3,1,3,4,2,2,2,0,2,4,...,3,2,2,3,3,4,1,1,1,2
23,1,0,5,4,1,2,0,2,5,3,...,2,1,3,4,4,3,3,1,3,2
24,0,1,3,3,2,2,0,1,3,4,...,4,2,1,3,4,3,1,3,1,1
25,3,1,4,2,2,1,1,1,3,2,...,4,3,1,2,5,3,0,0,0,3
26,1,2,2,3,3,3,0,0,3,4,...,1,2,4,3,4,4,2,0,2,1
27,2,1,3,4,3,2,1,1,4,3,...,3,3,2,2,4,3,3,1,1,3
28,1,2,3,3,2,2,1,1,3,2,...,1,2,4,3,4,3,1,0,2,1
29,0,0,4,3,2,2,0,0,4,4,...,2,1,3,4,4,2,3,3,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92620,1,1,3,4,2,3,0,1,4,4,...,2,4,3,1,3,3,0,2,2,3
92621,0,2,4,5,2,3,0,0,4,4,...,3,2,2,3,3,3,3,1,1,3
92622,0,1,4,3,3,2,0,0,4,4,...,2,2,3,3,3,4,2,1,2,1
92623,2,0,3,5,3,2,1,0,5,3,...,2,4,3,1,3,3,2,2,2,2
92624,1,1,4,4,2,1,1,1,3,3,...,1,2,4,3,3,1,2,1,3,3
92625,1,1,3,2,3,1,0,2,4,4,...,3,4,2,1,2,2,2,2,2,1
92626,1,3,4,1,3,3,0,1,2,2,...,4,4,1,1,4,4,0,0,1,2
92627,2,1,3,2,3,3,0,0,3,3,...,2,0,3,5,4,4,0,1,1,2
92628,0,0,4,4,3,3,1,0,3,5,...,2,3,3,2,3,2,1,2,2,3
92629,1,1,4,3,2,3,1,0,2,3,...,1,3,4,2,3,2,1,1,3,1
92630,2,0,3,3,1,2,1,0,4,3,...,4,0,1,5,1,3,1,1,1,3
92631,2,1,2,3,3,4,0,0,3,2,...,3,2,2,3,5,4,1,0,1,2
92632,1,1,5,3,1,1,0,1,3,2,...,1,3,4,2,4,4,0,1,3,1
92633,1,0,5,5,1,3,1,1,5,5,...,3,3,2,2,5,2,0,4,2,2
92634,0,2,4,4,4,3,1,1,3,3,...,2,3,3,2,4,3,1,3,2,3
92635,0,0,4,4,3,1,0,1,4,3,...,2,4,3,1,2,2,3,3,3,2
92636,1,3,4,2,3,2,1,0,4,3,...,2,4,3,1,3,3,2,2,2,2
92637,2,1,3,3,3,3,0,0,4,4,...,1,2,4,3,2,3,1,2,3,0
92638,2,1,2,4,3,3,0,2,4,3,...,3,2,2,3,5,4,1,1,0,3
92639,1,0,5,2,2,3,0,1,2,3,...,3,1,2,4,4,4,1,1,2,2
92640,1,3,4,3,2,2,0,1,5,4,...,2,2,3,3,4,3,3,2,3,2
92641,1,3,4,4,2,4,1,1,5,3,...,2,1,3,4,2,4,1,2,3,3
92642,2,1,4,4,1,1,2,0,2,5,...,3,3,2,2,3,2,0,3,3,3
92643,1,2,5,2,2,1,0,1,4,2,...,2,2,3,3,4,4,2,1,1,3
92644,2,0,2,3,1,1,1,1,3,3,...,5,2,0,3,4,3,1,2,2,2
92645,0,1,3,4,2,2,0,1,5,4,...,3,4,2,1,3,4,2,2,1,2
92646,1,2,3,3,1,1,1,1,3,3,...,3,4,2,1,4,3,1,3,1,1
92647,0,2,5,3,4,3,0,0,4,4,...,3,3,2,2,4,3,2,1,1,1
92648,1,3,4,3,2,3,0,0,3,4,...,3,2,2,3,3,5,2,1,2,1
92649,0,1,3,4,3,3,1,2,3,2,...,1,2,4,3,2,2,1,2,2,3

In [103]:
new_df

,Radiant_Dire,Game Type,cluster_112,cluster_121,cluster_122,cluster_123,cluster_124,cluster_131,cluster_132,cluster_133,...,cluster_251,cluster_261,GameMode_2,GameMode_3,GameMode_4,GameMode_5,GameMode_6,GameMode_7,GameMode_8,GameMode_9
0,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,2,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,-1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,1,3,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7,-1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,-1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10,1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
11,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
12,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13,-1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
14,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
15,-1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
16,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
17,1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
19,-1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
20,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
21,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
22,-1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
23,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
24,1,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
25,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
26,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
27,1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
28,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
29,-1,2,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92620,-1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92621,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92622,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92623,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92624,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92625,1,3,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92626,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
92627,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92628,-1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92629,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92630,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92631,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92632,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92633,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92634,-1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92635,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92636,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
92637,1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92638,-1,2,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
92639,1,3,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92640,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92641,1,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
92642,1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92643,-1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92644,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92645,-1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92646,1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92647,1,3,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92648,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
92649,-1,2,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [104]:
preprocessed_df = pd.concat([new_df, skills_df], axis=1)

In [105]:
preprocessed_df.head()

,Radiant_Dire,Game Type,cluster_112,cluster_121,cluster_122,cluster_123,cluster_124,cluster_131,cluster_132,cluster_133,...,Radiant_Ranged,Dire_Ranged,Radiant_Melee,Dire_Melee,Radiant_Carry,Dire_Carry,Radiant_Support,Dire_Support,Radiant_Initiator,Dire_Initiator
0,-1,2,0,0,0,0,0,0,0,0,...,2,2,3,3,4,2,1,0,2,3
1,1,2,0,0,0,0,0,0,0,0,...,2,3,3,2,2,4,2,1,5,0
2,1,2,0,0,0,0,0,1,0,0,...,3,4,2,1,4,4,1,1,2,1
3,1,2,0,0,0,0,0,0,0,0,...,3,1,2,4,4,4,0,3,1,5
4,-1,3,0,0,0,0,0,0,0,0,...,2,4,3,1,3,3,3,2,2,1

In [106]:
preprocessed_df.to_pickle("preprocessed_dota_df.pkl")

In [6]:
preprocessed_df = pd.read_pickle("preprocessed_dota_df.pkl")

In [5]:
preprocessed_df.shape

(92650, 78)

In [7]:
y_df = preprocessed_df["Radiant_Dire"]

In [7]:
y_df.unique()

array([-1,  1])

In [8]:
preprocessed_df.drop(["Radiant_Dire"], axis=1, inplace=True)

In [9]:
preprocessed_df.shape

(92650, 77)

In [10]:
y_df.shape

(92650,)

In [9]:
from sklearn.ensemble import RandomForestClassifier

/anaconda3/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [10]:

from sklearn.model_selection import train_test_split

In [11]:
trainX_df, testX_df, trainY_df, testY_df = train_test_split(preprocessed_df, y_df, test_size = 0.2)

In [12]:
trainX_df.shape, testX_df.shape, trainY_df.shape, testY_df.shape

((74120, 77), (18530, 77), (74120,), (18530,))

In [13]:
from sklearn import metrics

In [17]:
clf = RandomForestClassifier(n_jobs=-1, min_samples_leaf=3, n_estimators=40, max_depth=20)
clf.fit(trainX_df, trainY_df)
preds = clf.predict(testX_df)
acc_score_train = metrics.accuracy_score(trainY_df, clf.predict(trainX_df))
print("Training Set accuracy: ", acc_score_train)
acc_score = metrics.accuracy_score(testY_df, clf.predict(testX_df))
print("Test Set accuracy: ", acc_score)

pd.crosstab(testY_df, preds, rownames=['Actual winning team'], colnames=['Predicted winning team'])

Training Set accuracy:  0.8537371829465731
Test Set accuracy:  0.5474905558553697

Predicted winning team    -1     1
Actual winning team
-1                      3024  5680
 1                      2705  7121

In [18]:
clf.feature_importances_

array([1.81901348e-02, 1.38791034e-03, 1.80518742e-03, 1.51086078e-03,
       1.34978444e-03, 1.42158507e-03, 1.57236953e-03, 1.64152827e-03,
       1.46343615e-03, 1.55787697e-03, 1.30399672e-03, 1.35899931e-03,
       1.32231513e-03, 1.31076072e-03, 2.43047988e-03, 2.54501406e-03,
       8.14853539e-03, 7.30699128e-03, 7.58132615e-03, 8.18637628e-03,
       7.42429734e-03, 7.61015343e-03, 6.27900997e-04, 2.34006748e-03,
       2.61249356e-03, 2.51870462e-03, 1.87975324e-03, 1.72656295e-03,
       2.16363657e-03, 1.99733965e-03, 2.44862541e-03, 2.42444298e-03,
       1.84139957e-03, 1.50232973e-03, 2.72026704e-03, 1.92498364e-05,
       0.00000000e+00, 1.31891578e-04, 5.32929594e-03, 6.37840765e-03,
       3.88169910e-03, 7.97938670e-03, 4.87479205e-03, 3.02277544e-03,
       2.47930019e-04, 3.50635143e-04, 5.68909856e-04, 1.27331763e-02,
       8.51559193e-04, 7.36051675e-04, 1.15801279e-05, 1.77167473e-03,
       1.40680301e-04, 7.89435274e-03, 9.27912762e-03, 3.60208772e-02,
       3.43586350e-02, 3.97033200e-02, 4.08851427e-02, 4.39018913e-02,
       4.28545769e-02, 2.84602781e-02, 3.00622101e-02, 4.17650668e-02,
       4.19953269e-02, 3.88737173e-02, 3.80772941e-02, 3.27442048e-02,
       2.81266555e-02, 3.38206407e-02, 2.67835422e-02, 3.93857733e-02,
       4.10735219e-02, 3.64853720e-02, 3.86465063e-02, 4.24568788e-02,
       4.20819489e-02])

In [19]:
from xgboost import XGBClassifier

In [23]:
#Baseline for XGBClassifier
model = XGBClassifier(n_jobs=-1)
model.fit(trainX_df, trainY_df)
preds = model.predict(testX_df)
acc_score_train = metrics.accuracy_score(trainY_df, model.predict(trainX_df))
print("Training Set accuracy: ", acc_score_train)
acc_score = metrics.accuracy_score(testY_df, model.predict(testX_df))
print("Test Set accuracy: ", acc_score)

pd.crosstab(testY_df, preds, rownames=['Actual winning team'], colnames=['Predicted winning team'])

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Training Set accuracy:  0.5670534268753373
Test Set accuracy:  0.5562331354560173

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Predicted winning team    -1     1
Actual winning team
-1                      2864  5840
 1                      2383  7443

In [26]:
model = XGBClassifier(n_jobs=-1, max_depth=15)
model.fit(trainX_df, trainY_df)
preds = model.predict(testX_df)
acc_score_train = metrics.accuracy_score(trainY_df, model.predict(trainX_df))
print("Training Set accuracy: ", acc_score_train)
acc_score = metrics.accuracy_score(testY_df, model.predict(testX_df))
print("Test Set accuracy: ", acc_score)

pd.crosstab(testY_df, preds, rownames=['Actual winning team'], colnames=['Predicted winning team'])

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Training Set accuracy:  0.9567593092282785
Test Set accuracy:  0.5305990286022666

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Predicted winning team    -1     1
Actual winning team
-1                      3739  4965
 1                      3733  6093

In [14]:
dir(sklearn.ensemble)

['AdaBoostClassifier',
 'AdaBoostRegressor',
 'BaggingClassifier',
 'BaggingRegressor',
 'BaseEnsemble',
 'ExtraTreesClassifier',
 'ExtraTreesRegressor',
 'GradientBoostingClassifier',
 'GradientBoostingRegressor',
 'IsolationForest',
 'RandomForestClassifier',
 'RandomForestRegressor',
 'RandomTreesEmbedding',
 'VotingClassifier',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_gradient_boosting',
 'bagging',
 'base',
 'forest',
 'gradient_boosting',
 'iforest',
 'partial_dependence',
 'voting_classifier',
 'weight_boosting']

In [16]:
from sklearn.ensemble import *

In [17]:
#Baseline for AdaBoostClassifier
model = AdaBoostClassifier(learning_rate=0.1)
model.fit(trainX_df, trainY_df)
acc_score_train = metrics.accuracy_score(trainY_df, model.predict(trainX_df))
print("Training Set accuracy: ", acc_score_train)

preds = model.predict(testX_df)
acc_score = metrics.accuracy_score(testY_df, preds)
print("Test Set accuracy: ", acc_score)

pd.crosstab(testY_df, preds, rownames=['Actual winning team'], colnames=['Predicted winning team'])

Training Set accuracy:  0.5373583378305451
Test Set accuracy:  0.5389098758769563

Predicted winning team    -1     1
Actual winning team
-1                      1083  7667
 1                       877  8903

In [20]:
#Baseline for BaggingClassifier
model = BaggingClassifier(n_jobs=-1)
model.fit(trainX_df, trainY_df)
acc_score_train = metrics.accuracy_score(trainY_df, model.predict(trainX_df))
print("Training Set accuracy: ", acc_score_train)

preds = model.predict(testX_df)
acc_score = metrics.accuracy_score(testY_df, preds)
print("Test Set accuracy: ", acc_score)

pd.crosstab(testY_df, preds, rownames=['Actual winning team'], colnames=['Predicted winning team'])

Training Set accuracy:  0.986332973556395
Test Set accuracy:  0.5150026983270373

Predicted winning team    -1     1
Actual winning team
-1                      5084  3666
 1                      5321  4459

In [21]:
#Baseline for ExtraTreesClassifier
model = ExtraTreesClassifier(n_jobs=-1)
model.fit(trainX_df, trainY_df)
acc_score_train = metrics.accuracy_score(trainY_df, model.predict(trainX_df))
print("Training Set accuracy: ", acc_score_train)

preds = model.predict(testX_df)
acc_score = metrics.accuracy_score(testY_df, preds)
print("Test Set accuracy: ", acc_score)

pd.crosstab(testY_df, preds, rownames=['Actual winning team'], colnames=['Predicted winning team'])

Training Set accuracy:  1.0
Test Set accuracy:  0.5155963302752293

Predicted winning team    -1     1
Actual winning team
-1                      5042  3708
 1                      5268  4512

In [22]:
#Baseline for GradientBoostingClassifier
model = GradientBoostingClassifier()
model.fit(trainX_df, trainY_df)
acc_score_train = metrics.accuracy_score(trainY_df, model.predict(trainX_df))
print("Training Set accuracy: ", acc_score_train)

preds = model.predict(testX_df)
acc_score = metrics.accuracy_score(testY_df, preds)
print("Test Set accuracy: ", acc_score)

pd.crosstab(testY_df, preds, rownames=['Actual winning team'], colnames=['Predicted winning team'])

Training Set accuracy:  0.566082029141932
Test Set accuracy:  0.5521856449001619

Predicted winning team    -1     1
Actual winning team
-1                      2971  5779
 1                      2519  7261

In [23]:
# Modifications for GradientBoostingClassifier
model = GradientBoostingClassifier(n_estimators=50)
model.fit(trainX_df, trainY_df)
acc_score_train = metrics.accuracy_score(trainY_df, model.predict(trainX_df))
print("Training Set accuracy: ", acc_score_train)

preds = model.predict(testX_df)
acc_score = metrics.accuracy_score(testY_df, preds)
print("Test Set accuracy: ", acc_score)

pd.crosstab(testY_df, preds, rownames=['Actual winning team'], colnames=['Predicted winning team'])

Training Set accuracy:  0.5579600647598489
Test Set accuracy:  0.5534808418780356

Predicted winning team    -1     1
Actual winning team
-1                      2555  6195
 1                      2079  7701

In [25]:
# Modifications for GradientBoostingClassifier
model = GradientBoostingClassifier(n_estimators=50,max_depth=50)
model.fit(trainX_df, trainY_df)
acc_score_train = metrics.accuracy_score(trainY_df, model.predict(trainX_df))
print("Training Set accuracy: ", acc_score_train)

preds = model.predict(testX_df)
acc_score = metrics.accuracy_score(testY_df, preds)
print("Test Set accuracy: ", acc_score)

pd.crosstab(testY_df, preds, rownames=['Actual winning team'], colnames=['Predicted winning team'])

Training Set accuracy:  1.0
Test Set accuracy:  0.5100377765785213

Predicted winning team    -1     1
Actual winning team
-1                      4252  4498
 1                      4581  5199

In [ ]:
from sklearn import svm

In [ ]:
clf = svm.SVC()
clf.fit(trainX_df, trainY_df)
acc_score_train = metrics.accuracy_score(trainY_df, clf.predict(trainX_df))

print("Training Set accuracy: ", acc_score_train)

preds = clf.predict(testX_df)
acc_score = metrics.accuracy_score(testY_df, preds)
print("Test Set accuracy: ", acc_score)

pd.crosstab(testY_df, preds, rownames=['Actual winning team'], colnames=['Predicted winning team'])

# References:
    
    1. https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/
    2. https://github.com/jupyterlab/jupyterlab/issues/3506
    3. https://chrisalbon.com/machine_learning/trees_and_forests/random_forest_classifier_example/
    4. https://machinelearningmastery.com/develop-first-xgboost-model-python-scikit-learn/